---
import diyaLogo from '~/assets/images/diya-logo.png';
---

<a href="/" class="flex items-center gap-2 logo-center">
  <img src={diyaLogo.src} alt="DIYA Logo" class="h-12 w-auto max-w-[240px] object-contain" />
</a>
